{% extends "base.html" %}
{% load django_vite widget_tweaks %}
{% load site_settings_tags %}
{% block title %}
    {{ site_settings.site_name }} - Make Your Pledge
{% endblock title %}
{% block content %}
    <div class="max-w-xl mx-auto py-12 px-6" id="form-wrapper">
        <div class="flex flex-col items-center gap-10 p-6">
            {% include "components/svgs/illustrations/hand-heart.html" %}
            <div class="text-center text-just-deep-burgundy-900">
                {% site_setting "submission_form_heading" as submission_form_heading %}
                {% if submission_form_heading %}
                    <h1 class="text-5xl font-bold font-heading mb-4">{{ submission_form_heading }}</h1>
                {% else %}
                    <h1 class="text-5xl font-bold font-heading mb-4">Make your pledge</h1>
                {% endif %}
                {% site_setting "submission_form_subheading" as submission_form_subheading %}
                {% if submission_form_subheading %}
                    <p class="mb-4">{{ submission_form_subheading }}</p>
                {% else %}
                    <p class="mb-4">
                        Select the pledge that resonates with you, and if you’d like, add a personal one too — every promise helps shape a brighter future.
                    </p>
                {% endif %}
            </div>
        </div>
        <form hx-post="/submit/"
              hx-target="#form-wrapper"
              hx-swap="outerHTML"
              class="flex flex-col gap-6">
            {% csrf_token %}
            <fieldset class="bg-just-sandstone-100 py-6 px-5 rounded-2xl">
                {% include "components/forms/field.html" with field=form.first_name %}
                {% include "components/forms/field.html" with field=form.last_name %}
                {% include "components/forms/field.html" with field=form.personal_pledge %}
                <div class="flex items-start gap-x-2">
                    {% include "components/forms/checkbox.html" with field=form.allow_display %}
                    <label for="{{ form.allow_display.id_for_label }}"
                           class="text-just-deep-burgundy-900 text-base/5">{{ form.allow_display.label }}</label>
                </div>
            </fieldset>
            <fieldset class="bg-just-sandstone-100 py-6 px-5 rounded-2xl">
                <h2 class="font-bold mb-1">{{ form.pledge.label }}</h2>
                <p class="text-xs text-just-chalk-800 mb-2">Required</p>
                <div class="flex flex-col gap-4">
                    {% for radio in form.pledge %}
                        {# The entire label now acts as the clickable button container #}
                        <label class="card-radio group text-just-deep-burgundy-900"
                               for="{{ radio.id_for_label }}">
                            {{ radio.choice_label|safe }}
                            {{ radio.tag }}
                        </label>
                    {% endfor %}
                </div>
            </fieldset>
            <fieldset class="bg-just-sandstone-100 py-6 px-5 rounded-2xl">
                <div class="flex items-start space-x-3">
                    {% include "components/forms/checkbox.html" with field=form.consent_given %}
                    <div class="policy-text">
                        <label for="{{ form.consent_given.id_for_label }}"
                               class="text-just-deep-burgundy-900 font-bold text-base/6 block mb-1">
                            {{ form.consent_given.label }}
                        </label>
                        {% site_setting "consent_text" as consent_text %}
                        {% site_setting "privacy_policy" safe=True as privacy_policy %}
                        {% if consent_text %}
                            <p class="text-just-deep-burgundy-700">
                                {{ consent_text|safe }}
                                {% if privacy_policy %}
                                    <button command="show-modal"
                                            commandfor="dialog"
                                            type="button"
                                            class="cursor-pointer text-just-digital-blue-700 hover:text-just-digital-blue-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-just-digital-blue-700">
                                        Read our Privacy Policy
                                    </button>
                                {% endif %}
                            </p>
                        {% endif %}
                        <el-dialog>
                        <dialog id="dialog"
                                aria-labelledby="dialog-title"
                                class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
                            <el-dialog-backdrop class="fixed inset-0 bg-gray-500/75 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in"></el-dialog-backdrop>
                            <div tabindex="0"
                                 class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
                                <el-dialog-panel class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-xl sm:p-6 data-closed:sm:translate-y-0 data-closed:sm:scale-95">
                                <div>
                                    <div class="mt-3 sm:mt-5">
                                        {% if privacy_policy %}<div class="prose prose-sm">{{ privacy_policy }}</div>{% endif %}
                                    </div>
                                </div>
                                <div class="mt-5">
                                    <button type="button"
                                            command="close"
                                            commandfor="dialog"
                                            class="flex w-full justify-center rounded bg-just-digital-blue-600 px-6 py-3 text-base/5 font-medium text-white hover:bg-just-digital-blue-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-just-digital-blue-700 cursor-pointer">
                                        Close
                                    </button>
                                </div>
                                </el-dialog-panel>
                            </div>
                        </dialog>
                        </el-dialog>
                    </div>
                </div>
                {% if form.consent_given.errors %}
                    <div class="mt-4 text-sm text-just-berry-300 bg-just-radical-red-50 p-4 rounded-md border border-just-berry-300">
                        {% for error in form.consent_given.errors %}<p>{{ error }}</p>{% endfor %}
                    </div>
                {% endif %}
            </fieldset>
            <button class="flex w-full justify-center rounded bg-just-digital-blue-600 px-6 py-3 text-base/5 font-medium text-white hover:bg-just-digital-blue-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-just-digital-blue-700 cursor-pointer"
                    type="submit">Submit</button>
        </form>
    </div>
    {% vite_asset 'js/form.js' %}
{% endblock content %}
