{% extends "base.html" %}
{% load django_vite %}
{% load site_settings_tags %}
{% block title %}
  {{ site_settings.site_name|default:"Live Pledge Visualisation" }}
{% endblock title %}
{% block content %}
  {% with site_settings.visualisation_font_factor|divide:100 as font_factor %}
    <div id="viz-container"
         style="--viz-font-factor: {{ font_factor|default:'1.0' }}"
         class="bg-just-sandstone-100 absolute inset-0 min-h-[800px] size-full z-0 p-12 grid grid-cols-12 grid-rows-6 gap-12">
      <div class=" bg-transparent col-span-4 row-span-3">
        <!-- Placeholder for future content -->
        <div class="max-w-4xl">
          <h1 class="font-heading text-just-radical-red-500 fluid-display mb-8 text-balance">
            {{ site_settings.visualisation_hero_heading|default:"Together, we’re making change happen" }}
          </h1>
          <p class="text-just-deep-burgundy-700 fluid-body text-balance">
            {{ site_settings.visualisation_hero_subheading|default:"Together, we’re turning promises into progress — one step, one pledge, one brighter tomorrow at a time." }}
          </p>
        </div>
      </div>
      <div class="bg-just-deep-burgundy-900 col-span-4 row-span-3 col-start-1 p-12 flex flex-col justify-between">
        <h2 class="font-heading text-just-radical-red-500 fluid-heading mb-6">Live Pledges</h2>
        <div id="pledge-feed" data-pledge-feed></div>
      </div>
      <div class="size-full flex items-center justify-center bg-just-chalk-50 col-span-8 row-span-6 row-start-1 col-start-5 p-8">
        <div id="chart" class="size-full"></div>
      </div>
    </div>
  {% endwith %}
  {% vite_asset 'js/visualisation_barchart.js' %}
  <script>window.initialCounts = {{ counts|safe }}; window.initialPledgeFeed = {{ pledge_feed|safe }};</script>
{% endblock content %}
